<!DOCTYPE html>
<html lang="en"  ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Gulp Demo</title>
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" />
<!-- endbower -->

<!-- inject:css -->
<!-- endinject -->
</head>

<body ng-controller="MessageController as MsgCtrl">
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
<!-- endbower -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>

<p>Messanger App for Demo</p>
<label>Username
<input class='form-control' ng-model="MsgCtrl.CredObject.username"></input>
</label>
<label>Password
  <input class='form-control' ng-model="MsgCtrl.CredObject.password"></input>
</label>
<!-- inject:js -->
<script src="/app/app.js"></script>
<!-- endinject -->
</body>
</html>